/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 26/03/2024, 10:07:14 a. m.
    Author     : Usuario
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../IMG/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(0,255,255,1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.form-group input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem; 
    padding: 0 100px 0 5px;
    color: #fff;
}

h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.form-group{
    position: relative;
    margin: 25px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.form-group label{
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label{
    top:-5px;
}
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgba(255,255,255,0.5);
}